// colours

$font-colour: white; 


* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Mansalva', cursive;
}

body  {
    background-image: url("./img/giphybackground.gif");  

    h1, h2 {
        text-align: center;
        margin: 2%;
        color: $font-colour;
    }
}

.game-area {
    display: flex; 
    justify-content: space-between;
    margin-top: 5%;

    .player-title {
        color: $font-colour;
        border: 2px dotted #FF3875; 
        height: 300px;
        width: 20vw;
        text-align: center;
    }
}

#raksu {
    height: 50vh;
    width: 20vw;
    background-color:black;
    border-radius: 50%;
    background-image: url('./img/editedraksucutout.png');
    background-repeat: no-repeat;
    background-size: cover; 
    position: absolute;
  }